@import "~@ionic/angular/css/ionic-swiper";
@import "../../../theme/input.scss";
@import "../../../theme/card.scss";
@import "../../../theme/images.scss";

.items {
     background-color: #62cdff48 ;
     padding: 10px ;
     border-radius: 10px;
     color: #000;

}

.swiper {
  img {
    height: 100px;
    border-radius: 10px;
    margin-top: 10px;
  }
}
