<ion-header>
  <ion-toolbar>
    <ion-title>notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h2>Your active tripe</h2>

    <div class="lastChance">
      <ion-card *ngFor="let item of trip">
        <div>
          <swiper class="ion-padding" [config]="{ slidesPerView: 2.5}">
            <ng-template swiperSlide *ngFor="let im of item.imgGroup  ">
              <img src="../../../assets/images/home/{{im}}" />
            </ng-template>
          </swiper>
        </div>

        <ion-card-header>
          <ion-card-title> {{item.name}}</ion-card-title>
          <ion-card-subtitle>
            <ion-icon name="location-outline"></ion-icon>
            {{item.localization}}</ion-card-subtitle
          >
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <div class="location">
                <ion-icon name="person-circle-outline"></ion-icon>
                Number of pepole resreve : {{item.totalplaceNumber}}
              </div>
            </ion-row>
            <ion-row>
              <ion-col size="auto" *ngFor="let catg of item.category ">
                <div class="items">
                  <p>{{catg}}</p>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-button
                  type="submit"
                  color="light"
                  expand="block"
                  color="success"
                  (click)="acceptTrip(item)"
                >
                  Accepte
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button
                  expand="block"
                  type="submit"
                  color="light"
                  color="danger"
                  (click)="refuseTrip(item)"
                >
                  Deny
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
