<ion-header>
    <ion-toolbar class="navb">
        <ion-row class="ion-align-items-center ion-justify-content-between">
            <div>
                <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
            </div>
            <img src="../../../assets/logo/logo.svg" alt="" srcset="" />
            <div class="">
                <ion-icon class="ion-margin-end" src="../../../assets/icon/add-square.svg"></ion-icon>
                <ion-icon class="ion-margin-end" src="../../../assets/icon/search-normal.svg"></ion-icon>
            </div>
        </ion-row>
    </ion-toolbar>
</ion-header>