<ion-content>
    <div class="ion-margin-horizontal">
        <ion-grid class="centerPage">
            <ion-row class="ion-justify-content-center ion-margin-vertical">
                <h4 class="">Change Password</h4>
            </ion-row>
            <ion-row class="ion-justify-content-center ion-margin-vertical">
                <img src="assets/images/intro/forgot-password.svg" class="responsiveImg ion-margin-horizontal" alt="" />
            </ion-row>
            <ion-row class="ion-justify-content-center ion-margin-vertical">
                <p class="ion-text-center">Please enter your new Password</p>
            </ion-row>
        </ion-grid>

        <form [formGroup]="ChangePassword" (ngSubmit)="onSubmitPassword()" novalidate>
            <div class="form-group">
                <ion-label position="">Password</ion-label>
                <ion-input formControlName="passwd" [(ngModel)]="passwd" class="" type="password" required placeholder="*******" required>
                </ion-input>
                <div *ngFor="let er of errors">
                    <ng-container *ngIf="ChangePassword.get('passwd').hasError(er.type) && (ChangePassword.get('passwd').touched || ChangePassword.get('passwd').dirty)">
                        <ion-note color="danger"> {{er.message}} </ion-note>
                    </ng-container>
                </div>
            </div>
            <ion-button class="ion-margin-top" type="submit" expand="block" color="warning">
                submit
            </ion-button>
        </form>
    </div>
</ion-content>