<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Which activity intrest <br />
      you the most?</ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-justify-content-center">
    <!-- <h4>
            Which activity intrest <br /> you the most?
        </h4> -->
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let item of categorie ">
          <div
            class="checkbox-wrapper-16"
            [ngClass]="{'chekbox-press':item.entry === true}"
          >
            <label class="checkbox-wrapper">
              <input
                type="checkbox"
                class="checkbox-input"
                (click)="interpress(item._id)"
              />
              <span class="checkbox-tile">
                <span class="checkbox-icon">
                  <img src="../../../assets/icon/categorie/{{item.icon}}" />
                </span>
                <span class="checkbox-label">{{item.name}}</span>
              </span>
            </label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-button
    class="ion-justify-content-center"
    expand="block"
    color="warning"
    (click)="updateRecomended()"
    >Start Exploring</ion-button
  >
</ion-content>
