@import "~@ionic/angular/css/ionic-swiper";
@import "../../../theme/input.scss";
@import "../../../theme/card.scss";
@import "../../../theme/images.scss";

ion-select {
  --placeholder-color: #971e49;
  --placeholder-opacity: 1;
  width: 100%;
  justify-content: center;
}

ion-select::part(placeholder),
ion-select::part(text) {
  flex: 0 0 auto;
}

ion-select::part(placeholder)::first-letter {
  font-size: 24px;
  font-weight: 500;

}

ion-select::part(text) {
  background-color: $warning;
  border-radius: 5%;
}


ion-select::part(icon) {
  opacity: 1;
}

.list-md {

width: 100%;
}

.chek {
  display: flex;
justify-content: center;
}
