* {
    font-family: "Montserrat";
}

.h1 {
    font-size: 2.19rem;
}

h2,
.h2 {
    font-size: 1.88rem;
}

h3,
.h3 {
    font-size: 1.56rem;
}

h4,
.h4 {
    font-size: 1.13rem;
    font-weight: 600;
}

h5,
.h5 {
    font-size: 1rem;
}

h6,
.h6 {
    font-size: 0.9375rem;
}

p {
    font-size: 0.9375rem;
    line-height: 1.5;
    font-weight: 300;
}

body {
    font-size: 1rem;
    font-family: "Montserrat";
    font-weight: initial;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
}