@import "../../../theme/input.scss";
.underlinedButton {
    border-bottom: 2px solid $warning;
    font-weight: 300;
}

.inactiveButton {
    font-weight: 300;
}

.horizontalLine {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $medium;
    line-height: 0.1em;
    margin: 24px 0 20px;
}

.horizontalLine span {
    background: #fff;
    padding: 0 10px;
}

.swiper {
    width: 100%;
    height: 100%;
}