@import "../../theme/variables.scss";
@import "../../theme/button.scss";
@import "../../theme/font.scss";
@import "../../global.scss";



.container {
  background-color: $light ;
  width: 90%;
  height: 30%;
  margin-top: 50%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1{
    color: $success ;
  }
}
