<ion-header>
    <ion-toolbar>
        <ion-title>FormGuide</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
    <h3 class="ion-text-center" color="primary">Welcome Back!</h3>
    <p class="ion-text-center">Join our guide community🚀</p>

    <form [formGroup]="guidForm" (ngSubmit)="inscriGuide()" novalidate>
        <div class="form-group">
            <!-- <ion-label position="" class="ion-margin-top">Nom</ion-label>
            <ion-input formControlName="nom" [(ngModel)]="nom" type="text" autofocus="true" placeholder="Nom" required></ion-input>
            <div *ngFor="let er of errors">
                <ng-container *ngIf="guidForm.get('nom').hasError(er.type) && (guidForm.get('nom').touched || guidForm.get('nom').dirty)">
                    <ion-note color="danger"> {{er.message}} </ion-note>
                </ng-container>
            </div> -->

            <ion-label position="" class="ion-margin-top">Work Area</ion-label>
            <ion-input formControlName="workArea" [(ngModel)]="workArea" type="text" autofocus="true" placeholder="Mars,Tunis..." required></ion-input>
            <div *ngFor="let er of errors">
                <!-- <ng-container
          *ngIf="guidForm.get('prenom').hasError(er.type) && (guidForm.get('prenom').touched || guidForm.get('prenom').dirty)"
        >
          <ion-note color="danger"> {{er.message}} </ion-note>
        </ng-container> -->
            </div>

            <ion-item>
                <ion-badge color="primary">{{this.moveStart}}</ion-badge>
            </ion-item>
            <ion-item>
                <ion-badge color="primary" item-right>{{this.moveEnd}}</ion-badge>
            </ion-item>
            <ion-range dualKnobs="true" [pin]="true" [ticks]="true" [min]="1" [max]="10" [snaps]="true" [value]="{ lower :1 , upper:5  }" (ionKnobMoveEnd)="onIonKnobMoveEnd($event)"></ion-range>

            <!-- <ion-range dualKnobs="true" [value]="{ lower: 20, upper: 80 }" [(ngModel)]="time" (ionChange)="setBadge(time)"></ion-range> -->
            <!-- <ion-label position="" class="ion-margin-top">Adresse</ion-label>
            <ion-input formControlName="adresse" [(ngModel)]="adresse" type="text" autofocus="true" placeholder="Adresse" required></ion-input>
            <div *ngFor="let er of errors">
                <ng-container *ngIf="guidForm.get('adresse').hasError(er.type) && (guidForm.get('adresse').touched || guidForm.get('adresse').dirty)">
                    <ion-note color="danger"> {{er.message}} </ion-note>
                </ng-container>
            </div> -->
        </div>
        <div class="ion-text-center">
            <ion-button class="ion-margin-top" type="submit" color="warning">submit request</ion-button>
            <ion-button class="ion-margin-top" [routerLink]="['/tabs']" type="cancel" color="light">cancel</ion-button>
        </div>
    </form>
</ion-content>