<!-- <ion-header>
    <ion-toolbar>
        <ion-title>Introduction </ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-grid class="centerPage">
        <swiper #swiper [config]="config">
            <ng-template swiperSlide>
                <img src="assets/logo/logo.svg" alt="" />
            </ng-template>
            <ng-template swiperSlide>
                <img src="assets/images/intro/findDestination.svg" class="responsiveImg ion-margin-horizontal" alt="" />
                <h4 class="ion-margin-top" color="primary">Find Your Destination</h4>
            </ng-template>
            <ng-template swiperSlide>
                <img src="assets/images/intro/selectDate.svg" class="responsiveImg ion-margin-horizontal" alt="" />
                <h4 class="ion-margin-top" color="primary">
                    Select a guid and the date
                </h4>
            </ng-template>

            <ng-template swiperSlide>
                <img src="assets/images/intro/enjoyTrip.svg" class="responsiveImg ion-margin-horizontal" alt="" />
                <h4 class="ion-margin-top" color="primary">Enjoy your trip</h4>
                <p class="ion-text-center">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                </p>
                <ion-button [routerLink]="['/login']" expand="block" color="secondary" shape="round">Sign In</ion-button>
                <!-- <ion-button [routerLink]="['/intr']" expand="block" shape="round">Login</ion-button> -->
            </ng-template>
        </swiper>
    </ion-grid>
</ion-content>