<ion-content>
    <swiper #swiper [config]="config">
        <!---Enter phone number-->
        <ng-template swiperSlide>
            <ion-grid class="centerPage">
                <ion-row class="ion-justify-content-center ion-margin-vertical">
                    <h4 class="">Forgot Password</h4>
                </ion-row>
                <ion-row class="ion-justify-content-center ion-margin-vertical">
                    <img src="assets/images/intro/forgot-password.svg" class="responsiveImg ion-margin-horizontal" alt="" />
                </ion-row>
                <ion-row class="ion-justify-content-center ion-margin-vertical">
                    <p class="ion-text-center">
                        Please enter your phone number to recieve a verification code
                    </p>
                </ion-row>
                <form [formGroup]="EnterNumber" (ngSubmit)="onSubmit()" novalidate>
                    <div class="form-group">
                        <ion-input maxlength="8" formControlName="phone" [(ngModel)]="phone" type="tel" required placeholder="Phone Number"></ion-input>
                        <div *ngFor="let er of errors">
                            <ng-container *ngIf="EnterNumber.get('phone').hasError(er.type) && (EnterNumber.get('phone').touched || EnterNumber.get('phone').dirty)">
                                <ion-note color="danger"> {{er.message}} </ion-note>
                            </ng-container>
                        </div>
                    </div>
                    <ion-button id="open-modal" class="ion-margin-top" type="submit" expand="block" color="warning">
                        Send
                    </ion-button>
                </form>
            </ion-grid>
        </ng-template>
        <!---*********************Enter phone number*************-->

        <!---**********Enter code*************-->

        <ng-template swiperSlide>
            <ion-grid class="centerPage">
                <ion-row class="ion-justify-content-center ion-margin-vertical">
                    <h4 class="">Verification Code</h4>
                </ion-row>
                <ion-row class="ion-justify-content-center ion-margin-vertical">
                    <img src="assets/images/intro/forgot-password.svg" class="responsiveImg ion-margin-horizontal" alt="" />
                </ion-row>
                <ion-row class="ion-justify-content-center ion-margin-vertical">
                    <p class="ion-text-center">Please enter the verification code</p>
                </ion-row>
                <ng-otp-input (onInputChange)="valueChange($event)" [config]="configInput"></ng-otp-input>
                <br />
                <!-- <ion-button class="ion-margin-top" type="submit" expand="block" color="warning">
                    Send
                </ion-button> -->
            </ion-grid>
        </ng-template>
        <!---**********Enter code*************-->
    </swiper>
</ion-content>